@tailwind base;
@tailwind components;
@tailwind utilities;



@layer base {
  :root {
    /* Name: custom color palette
       Author: Ilias Ism
       URL: https://gradient.page */

    /* CSS: .bg-gradient { background: var(--gradient) } */
    --gradient: #12c2e9;

    --background: 203 55.25% 3.92%;
    --foreground: 203 8.5% 97.45%;

    --muted: 203 42.5% 14.7%;
    --muted-foreground: 203 8.5% 54.9%;

    --popover: 203 48% 6.37%;
    --popover-foreground: 203 8.5% 97.45%;

    --card: 203 48% 6.37%;
    --card-foreground: 203 8.5% 97.45%;

    --border: 203 42.5% 14.7%;
    --input: 203 42.5% 14.7%;

    --primary: 203 85% 49%;
    --primary-foreground: 203 8.5% 4.9%;

    --secondary: 203 42.5% 14.7%;
    --secondary-foreground: 203 8.5% 97.45%;

    --accent: 203 42.5% 14.7%;
    --accent-foreground: 203 8.5% 97.45%;

    --destructive: 0 62.8% 30.6%;
    --destructive-foreground: 203 8.5% 97.45%;

    --ring: 203 85% 49%;
  }
  .dark {
    --background: 240 10% 3.9%;
    --foreground: 0 0% 98%;
    --card: 240 10% 3.9%;
    --card-foreground: 0 0% 98%;
    --popover: 240 10% 3.9%;
    --popover-foreground: 0 0% 98%;
    --primary: 0 0% 98%;
    --primary-foreground: 240 5.9% 10%;
    --secondary: 240 3.7% 15.9%;
    --secondary-foreground: 0 0% 98%;
    --muted: 240 3.7% 15.9%;
    --muted-foreground: 240 5% 64.9%;
    --accent: 240 3.7% 15.9%;
    --accent-foreground: 0 0% 98%;
    --destructive: 0 62.8% 30.6%;
    --destructive-foreground: 0 0% 98%;
    --border: 240 3.7% 15.9%;
    --input: 240 3.7% 15.9%;
    --ring: 240 4.9% 83.9%;
    --chart-1: 220 70% 50%;
    --chart-2: 160 60% 45%;
    --chart-3: 30 80% 55%;
    --chart-4: 280 65% 60%;
    --chart-5: 340 75% 55%;
    --sidebar-background: 240 5.9% 10%;
    --sidebar-foreground: 240 4.8% 95.9%;
    --sidebar-primary: 224.3 76.3% 48%;
    --sidebar-primary-foreground: 0 0% 100%;
    --sidebar-accent: 240 3.7% 15.9%;
    --sidebar-accent-foreground: 240 4.8% 95.9%;
    --sidebar-border: 240 3.7% 15.9%;
    --sidebar-ring: 217.2 91.2% 59.8%;
  }
}

@layer base {
  * {
    @apply border-border;
  }
  body {
    @apply bg-background text-foreground;
  }
}


/* Estiliza a barra de rolagem no Chrome, Edge e Safari */
::-webkit-scrollbar {
  width: 8px; /* Largura da barra de rolagem vertical */
  height: 8px; /* Altura da barra de rolagem horizontal */
}

/* Cor do fundo da barra de rolagem */
::-webkit-scrollbar-track {
  background: #f1f1f1;
  border-radius: 10px;
}

/* Cor do "thumb" (a parte que se move) */
::-webkit-scrollbar-thumb {
  background: #888;
  border-radius: 10px;
}

/* Efeito ao passar o mouse sobre a barra */
::-webkit-scrollbar-thumb:hover {
  background: #555;
}
